{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Fashion Flare</a>
      <ul class="left hide-on-med-and-down">

        <li class="active"><a href="login">Login</a></li>
          <li><a href="offers">Offers</a></li>
        <li><a href="help">Help and Contact</a></li>
      </ul>
    </div>
</nav>

<form action ="login" method = "post">
    {% csrf_token %}
  <div class="container">
      <h1>Login</h1>
    <p>Please fill in this form to login in to your account.</p>
    <hr>
      <label for="ph"><b>Phone Number</b></label>
    <input type="number" placeholder="Phone" name="ph" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter your password" name="psw" required>

      <button type="submit" class="waves-effect waves-light btn">Log in</button>

  </div>
</form>
</body>
</html>