{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>offers</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Fashion Flare</a>
      <ul class="left hide-on-med-and-down">

        <li><a href="login">Login</a></li>
          <li><a href="register">Register</a></li>
          <li class="active"><a href="offers">Offers</a></li>
        <li><a href="help">Help and Contact</a></li>
      </ul>
    </div>
</nav>
<blockquote>
      A wide variety of offers are exclusively being provided on a daily basis here. Join our family to avail discounts on trendy fashion.
    </blockquote>
</body>
</html>